/* استدعاء خط Cairo من جوجل */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");


/* إعدادات عامة للصفحة */
body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background: #d6f2fc;
}


/* الروابط */
a {
  text-decoration: none;
  color: inherit;
}


/* الأزرار */
button {
  cursor: pointer;
}